{% extends "SnowcapSiteBundle:Admin:base.html.twig" %}
{% block body %}
<h1>Snowcap admin</h1>
<nav>
	<a href="">Manage pages</a>
	<a href="{{ url("admin_posts") }}">Manage posts</a>
</nav>
{% endblock %}