{% extends 'SnowcapSiteBundle::base.html.twig' %}
{% set body_class = 'error' %}
{% block body %}
    <h1 class="main-title">Oops! An Error Occurred</h1>
    <div class="full">
        <section class="main content">
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

            <p>
                Something is broken ?<br/>
                Please e-mail us at <a href="mailto:shoot@snowcap.be">shoot@snowcap.be</a> and let us know<br/>
                what you were doing when this error occurred. We will fix it as soon<br/>
                as possible. Sorry for any inconvenience caused.<br/>
            </p>
        </section>
    </div>
{% endblock body %}
