{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'technology' %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ 'technology.title' | trans }} : {{ technology.name }}</h1>
            <div class="body">
                {{ technology.description | markdown }}
            </div>
            <h3>{{ 'technology.projects' | trans }}</h3>
            {% if technology.projects|length > 0 %}
                {% import 'SnowcapSiteBundle::macros.html.twig' as helper %}
                {% include 'SnowcapSiteBundle:Project:list.html.twig' with {'projects': technology.projects, 'format': 'small' } %}
             {% endif %}
        </section>
    </div>
{% endblock %}
