<ul class="technology-list">
    {% for technology in technologies %}
        <li><a href="{{ url('snwcp_site_technology_show', { 'slug': technology.slug })}}">{{ technology.name }}</a></li>
    {% endfor %}
</ul>