<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}SNOWCAP ADMIN !!!{% endblock %}</title>
		{% block stylesheets %}
		<link href="{{ asset('/assets/vendors/jquery/custom-theme/jquery-ui-1.8.13.custom.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('/assets/admin/screen.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<header>
			<h1>Snowcap admin</h1>
			<nav>
				{% render('SnowcapAdminBundle:Default:navigation') %}
			</nav>
		</header>
		<div id="main">
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			<script type="text/javascript" src="/assets/vendors/jquery/jquery-1.6.1.min.js"></script>
			<script type="text/javascript" src="/assets/vendors/jquery/jquery-ui-1.8.13.custom.min.js"></script>
			<script type="text/javascript" src="/assets/vendors/jquery/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="/assets/admin/screen.js"></script>
		{% endblock %}
	</body>
</html>
