<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}SNOWCAP{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/assets/front/css/screen.css') }}" type="text/css" rel="stylesheet" />
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ body_class | default('default') }}">
        <div class="wrapper">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <header>
                {% block header %}
                    {% include 'SnowcapSiteBundle::navigation.html.twig' %}
                {% endblock %}
            </header>
            {% block body %}{% endblock %}
            <div class="push"></div>
        </div>
        <footer>
            <div class="split split-2">
                <section class="contact">
                    {% include "SnowcapSiteBundle:Widget:contact.html.twig" %}
                </section>
                <section class="technology">
                    {% render "SnowcapSiteBundle:Technology:widget" %}
                </section>
            </div>
        </footer>
        {% block javascripts %}
            <script type="text/javascript" src="/assets/vendors/jquery/jquery-1.6.1.min.js"></script>
            <script type="text/javascript" src="/assets/vendors/jquery/jquery-ui-1.8.13.custom.min.js"></script>
			<script type="text/javascript" src="/assets/front/js/screen.js"></script>
        {% endblock %}
    </body>
</html>
