<p class="vcard">
        &copy; <span class="fn org">Snowcap</span> {{ "now" | date('Y') }}
        -
        <span class="adr">
            <span class="street-address">Boulevard Saint-Michel 75</span>
            <span class="postal-code">1040</span>
            <span class="locality">Etterbeek</span>
        </span>
        <br/>
        <span class="tel"><span class="type">work</span>+32 2 808 22 29</span>
        -
        <a href="mailto:shoot@snowcap.be" class="email">shoot@snowcap.be</a>
</p>