{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block body %}
<h1>Snowcap</h1>
<h2>Post list</h2>
<ul>
	{% for post in latestPosts %}
		<li>
			<h3><a href="{{ path('front_posts_show', { 'id': post.id }) }}">{{ post.title }}</a></h3>
			<p>{{ post.publishedat|relativeTime }}</p>
		</li>		
	{% endfor %}
</ul>
{% endblock %}