{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'blog blog-detail' %}
{% block body %}
    <h1 class="main-title">{{ entity.title }}</h1>
    <div class="split split-2">
        <section class="main content primary">
            <p class="published">
                {% trans with {'%on%': entity.published_at | time_ago, '%in%': entity.category.name, '%in_url%': 'http://www.google.be' } %}
                    blog.published_on_in
                {% endtrans %}
            </p>
            {% if entity.body != '' %}
                {{ entity.body | markdown }}
            {% else %}
                <p>{{ entity.summary }}</p>
            {% endif %}
            {% render 'SnowcapSiteBundle:Post:comment' with ({ 'slug': entity.slug })%}
        </section>
    </div>
{% endblock %}