body {
    background-color: #efefef;
}
.project-thumb {
    position: relative;
    width: 310px;
    height: 240px;
    overflow: hidden;
}
.project-thumb-link {

    }
.project-thumb-front {
    position: absolute;
    border: solid 1px #ddd;
    padding: 5px;
    background-color: white;
    z-index: 10;
}
.project-thumb-back {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #ddd;
    padding: 5px;
    background-color: white;
}