{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'home' %}
{% block body %}
    <h1>{{ "general.snowcap" | trans }}</h1>
    <h2>{{ "general.baseline" | trans }}</h2>
    {{ "general.nutshell" | trans | markdown }}
    <section class="projects">
        {% render "SnowcapSiteBundle:Project:latest" with {'limit': 3} %}
    </section>
    <section class="blog">
        {% render "SnowcapSiteBundle:Post:latest" with {'limit': 1} %}
    </section>
    <section class="tweets">
        {% render "SnowcapSiteBundle:Widget:tweets" %}
    </section>
    <section class="words">
        {% include "SnowcapSiteBundle:Widget:words.html.twig" %}
    </section>
{% endblock %}
