{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'method' %}
{% block body %}
{{ 'method.body' | trans | markdown }}
<div id="quote">{{ 'method.quote' | trans | markdown }}</div>
{% endblock %}
