{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'method' %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ "method.title" | trans }}</h1>
            <div class="body">{{ 'method.body' | trans | markdown }}</div>
            <div class="quote">{{ 'method.quote' | trans | markdown }}</div>
        </section>
    </div>
{% endblock %}
