{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta %}
    {{
        macro.meta(
            "services.meta.title" | trans,
            "services.meta.description" | trans,
            "services.meta.keywords" | trans
        )
    }}
{% endblock meta %}
{% set body_class = 'services' %}
{% block body %}
    <h1 class="main-title">{{ "services.title" | trans }}</h1>
    <div class="full">
        <section class="main content standard">
            {{ 'services.body' | trans | markdown }}
            {% include "SnowcapSiteBundle:Widget:technologies.html.twig" with { 'technologies': technologies } %}
        </section>
    </div>
{% endblock %}
