{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'team' %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ "team.title" | trans }}</h1>
            <div class="body">
            In team
            </div>
        </section>
    </div>
{% endblock %}
