{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta %}
    {{
        macro.meta(
            "team.meta.title" | trans,
            "team.meta.description" | trans,
            "team.meta.keywords" | trans
        )
    }}
{% endblock meta %}
{% set body_class = 'team' %}
{% block body %}
    <h1 class="main-title">{{ "team.title" | trans }}</h1>
    <div class="full">
        <section class="main">
            <ul>
                {% for member in ['jerome', 'pierre', 'edwin'] %}
                    <li id="{{ member }}">{% include "SnowcapSiteBundle:Default:member.html.twig" with {'member': member} %}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
