{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'team' %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ "team.title" | trans }}</h1>
            <div class="body">
                <ul class="team-list">
                    {% include "SnowcapSiteBundle:Default:member.html.twig" with { 'member': 'jerome'}%}
                    {% include "SnowcapSiteBundle:Default:member.html.twig" with { 'member': 'pierre'}%}
                    {% include "SnowcapSiteBundle:Default:member.html.twig" with { 'member': 'edwin'}%}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
