html, body {
    min-height: 100%;
}
body {
    min-width: 960px;
    color: #0a0a0a;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
    letter-spacing: -0.01em;
}
h1.main-title, h2.main-title {
    background-image: url(../images/main_title.png);
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    height: 55px;
    line-height: 55px;
    left: 0;
    top: 0;
    margin: 0 0 0 -480px;
    padding: 0 150px 0 50%;
    color: #0a0a0a;
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
}
a {
    color: #8bc623;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* WRAPPERS */
.wrapper {
    position: relative;
    padding: 1px 0;
}
/* HEADER */
header {
    position: relative;
    z-index: 100;
    height: 180px;
    background: url(../images/sky_pattern.jpg) #0a0a0a left 40px repeat-x;
}
header nav {
    width: 860px;
    margin: 0 auto;
    padding: 0 100px 0 0;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 13px;
    position: relative;
}
header nav .handle {
    position: absolute;
    bottom: 0;
    width: 11px;
    height: 6px;
    background: url(../images/sprites.png) -3px -419px;
 }
header nav h1 {
    margin: 13px 0;
    padding: 0;
    float: left;
    margin-right: 60px;
}
header nav h1 a {
    display: block;
    background: url(../images/sprites.png) 0 -1px no-repeat;
    width: 35px;
    height: 14px;
    text-indent: -10000px;
    float: none;
}
header nav h1 a:hover {
    background-position: -35px -1px;
}
header nav > a {
    float: left;
    line-height: 38px;
    padding: 0 15px 2px 15px;
    color: #fff;
}
header nav a:hover {
    color: #79bd01;
    text-decoration: none;
}
/* SECTIONS */
/* full and splits */
div.full, div.split {
    width: 960px;
    margin: 0 auto 30px auto;
    position: relative;
}
div.full:after, div.split:after {
    visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
div.split section,
div.split aside {
    float: left;
}
div.split-2 section {
    width: 465px;
}
div.split-2 section:not(:last-child) {
    margin-right: 30px;
}
div.split-3 section {
    width: 302px;
}
div.split-3 section:not(:last-child) {
    margin-right: 27px;
}
/* content sections (content sections are just content) */
section.content {
    color: #818181;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 20px 0;
}
section.content h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 300;
    color: #333;
}
section.content p {
    margin: 15px 0;
}
section p.read-more {
    font-weight: bold;
    font-size: 14px !important;
}
section p.read-more a{
    height: 14px;
    line-height: 14px;
    padding: 0 30px 0 0;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: right -148px;
}
/* main sections (only used to push content) */
section.main {
    margin: 75px 0 20px 0;
}
/* standard sections (used to provide a few generic styling for simple content sections */
section.standard {
    color: #a6a6a6;
}
section.standard p.intro {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
section.standard ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    line-height: 26px;
}
section.standard li {
    padding-left: 30px;
    background:  url(../images/sprites.png) 0 -143px no-repeat;
}
/* HOMEPAGE */
body.home {
    background-image: url(../images/home.jpg);
    background-position: center 180px;
}
.home div.split-3 img#mask-image {
    position: absolute;
    z-index: 100;
    right: -42px;
    top: -8px;
    width: 97px;
    height: 105px;
}
.home h1.home-title,
.home h2.baseline {
    position: absolute;
}
.home h1.home-title {
    text-indent: -10000px;
    top: -60px;
    left: 50%;
    margin: 0 0 0 -480px;
    z-index: 100;
    padding: 0;
    width: 271px;
    height: 102px;
    background: url(../images/sprites.png) 0 -15px no-repeat;
}
.home h2.baseline {
    top: 40px;
    left: 50%;
    margin: 10px 0 0 -480px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    background: none;
    padding: 0;
    font-size: 24px;
}
/* main section */
.home section.main {
    padding: 0;
    margin: 110px 0 50px 0;
}

.home section.main p {
    margin: 30px 0 0 0;
    width: 375px;
    color: #a6a6a4;
}
.home section.main p strong {
    color: #333332;
}
/* projects */
.home section.projects {
    margin-top: 270px;
}
.home section.projects h2{
    background-position: right 0;
    width: 350px;
    line-height: 55px;
    font-size: 30px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    background-image: url(../images/headings.png);
    background-repeat: no-repeat;
}
/* secondary sections */
.home section.secondary {
    font-size: 12px;
    line-height: 16px;
}
.home section.secondary img {
    margin-top: 15px;
}
.home section.secondary h2 {
    margin: 0;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    background-image: url(../images/headings.png);
    background-repeat: no-repeat;
    background-position: right -55px;
    line-height: 35px;
    font-size: 24px;
}
.home section.secondary h2 a {
    color: #fff;
    text-decoration: none;
}
.home section.secondary p {
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 16px;
}
.home section.secondary h3 {
    margin: 15px 0;
    font-weight: 300;
    font-size: 24px;
}
.home section.secondary p.read-more {
    text-align: right;
}
/* blog */
.home section.blog h2 {
    width: 150px;
}
/* tweets */
.home section.tweets {
    height: 378px;
    overflow: hidden;
}
.home section.tweets h2 {
    width: 270px;
}
.home section.tweets h2 a {
    padding-left: 40px;
    background: url(../images/sprites.png) -94px -115px no-repeat;
}
.home section.tweets ul {
    margin: 0;
    padding: 0;
}
.home section.tweets li {
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    background: url("../../../assets/front/images/sprites.png") repeat-x scroll right bottom;
}
.home section.tweets li p.date {
    color: #818181;
    font-size: 11px;
}
.home section.tweets li p.text {
    margin-top: 2px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #404040;
    line-height: 24px;
    font-weight: 300;
}
/* nerds */
.home section.nerds {
    color: #fff;
    width: 242px;
    padding: 30px;
    background-color: #0a0a0a;
}
.home section.nerds h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
}
.home section.nerds p.open-source {
    font-size: 16px;
    line-height: 20px;
}
.home section.nerds p.open-source strong {
    font-weight: normal;
    font-size: 22px;
}
.home section.nerds p {
    font-size: 14px;
    line-height: 16px;
}
.home section.nerds p.read-more {
    text-align: right;
}
/* SERVICES */
body.services {
    background-image: url(../images/services.jpg);
    background-position: bottom center;
}
.services .wrapper {
    min-height: 801px;
}
.services section.main {
    margin-top: 100px;
    padding-right: 470px;
}
.services footer {
    margin-top: 130px;
}
/* COMPANY AND CONTACT */
body.company {
    background-image: url(../images/company.jpg);
    background-position: center bottom;
}
.company .wrapper {
    min-height: 981px;
}
.company h1.main-title,
.contact h1.main-title {
    position: absolute;
    left: 0;
    right: 50%;
    margin: 0;
    padding: 0 65px 0 35%;
    width: 480px;
}
.company h1.main-title {
    top: 140px;
}
.contact h1.main-title {
    top: 80px;
}
.company h2#mountain,
.contact h2#mountain {
    position: absolute;
    left: 0;
    right: 50%;
    margin: 0;
    padding: 0 0 0 35%;
    width: 480px;
    z-index: 100;
    height: 93px;
    text-indent: -10000px;
    background: url(../images/sprites.png) right -171px no-repeat;
}
.company h2#mountain {
    top: 40px;
}
.contact h2#mountain {
    top: -20px;
}
/* COMPANY */
.company section.main {
    margin-top: 220px;
    padding-left: 500px;
}
.company blockquote {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 17px;
    color: #d4d4d4;
    font-style: oblique;
    line-height: 24px;
    left: 0;
    margin: 0 0 0 -490px;
    padding: 15px 125px 15px 50%;
    position: absolute;
    bottom: 320px;
    right: 50%;
    width: 350px;
    height: 95px;
    background: url(../images/headings.png) right -95px no-repeat;
}
/* CONTACT */
body.contact {
    background-image: url(../images/contact.jpg);
    background-position: center 180px;
}
.contact .wrapper {
    min-height: 859px;
}
.contact section.main {
    margin-top: 300px;
    padding-left: 500px;
}
.contact .snowcap-map {
    width: 100%;
    height: 300px;
    margin:  30px 0;
}
.contact ul.social {
    margin: 30px 0;
}
/* TEAM */
body.team {
    background-position: center 180px;
    background-image: url(../images/team.jpg);
}
.team .wrapper {
    min-height: 871px;
}
.team section.main {
    margin-top: 450px;
}
.team section.main ul {
    margin: 0;
    padding: 0;
}
.team section.main li {
    float: left;
    width: 318px;
    list-style-type: none;
    margin: 0 1px;
    color: #818181;
}
.team section.main li h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    height: 32px;
    margin: 0;
    width: 80px;
    padding: 10px 110px 10px 10px;
    background: url(../images/headings.png) right -220px;
}
.team section.main li .member-details {
    background-color: #eeeff1;
    padding: 0 0 100px 0;
    background: rgb(238,239,241); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,239,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,239,241,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,239,241,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,239,241,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,239,241,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(238,239,241,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeff1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.team section.main li .member-details li {
    float: none;
    width: auto;
    margin:  0;
}
.team section.main .member-details dl {
    margin: 0;
    padding: 15px;
    position: relative;
    height: 65px;
    background: url(../images/sprites.png) 0 94px repeat-x;
}
.team section.main .member-details dt,
.team section.main .member-details dd {
    position: absolute;
    margin: 0;
    padding: 0;
}
.team section.main .member-details dt.age {
    left: 15px;
    top: 15px;
}
.team section.main .member-details dd.age {
    font-family: Lato, sans-serif;
    font-size: 45px;
    font-weight: 300;
    left: 15px;
    top: 35px;
}
.team section.main .member-details dt.skills {
    left: 90px;
    top: 15px;
}
.team section.main .member-details dd.skills {
    font-weight: 300;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    left: 90px;
    top: 35px;
}
.team section.main .member-details blockquote {
    margin:  0;
    padding: 15px;
    line-height: 18px;
    font-family: Georgia, serif;
    font-size: 18px;
    color: #0a0a0a;
    background: url(../images/sprites.png) 0 47px repeat-x;
    text-align: center;
    font-style: oblique;
}
.team section.main .member-details p {
    margin: 30px 15px;
}
.team ul.social {
    margin: 15px !important;
}
/* PROJECTS */
body.project {
    background-position: center bottom;
    background-image: url(../images/mountains.jpg);
}
/* generic project listing (also used for the homepage) */
section.projects ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
section.projects li {
    margin: 24px 0 16px 0;
    list-style-type: none;
    float: left;
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
section.projects li h3 {
    font-weight: 700;
    position: absolute;
    top: -20px;
    left: 0;
    margin: 0;
    width: 280px;
    color: #a6a6a6;
    line-height: 20px;
    font-size: 12px;
    padding: 0 5px;
    text-transform: uppercase;
}
section.projects li:hover {
    overflow: visible;
}
section.projects li:not(.three) {
    margin-right: 30px;
}
/* project-detail (top of the list or in detail page) */
.project section.project-overview {
    padding-right: 480px;
    position: relative;
    height: 285px;
    overflow:  hidden;
    color: #a6a6a6;
}
.project section.project-overview p {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.project section.project-overview .visual {
    position: absolute;
    right: 0;
    top: 0;
}
.project section.project-overview dl {
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
}
.project section.project-overview dt {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
}
.project section.project-overview dd {
    float: left;
    margin: 0 0 0 5px;
    padding: 0;
    font-weight: bold;
}
/* project story */
.project section.project-story {
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: #818181;
}
.project section.project-story h2 {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f3f;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.project section.project-story p {
    margin: 0 0 20px 0;
}
.project section.project-story .column {
    width: 300px;
    float: left;
}
.project section.project-story .column:not(:last-child) {
    margin-right: 30px;
}
/* project-listing page */
.project-listing section.project-overview {
    background: url(../images/sprites.png) 0 284px repeat-x;
}
/* BLOG */
body.blog {
    background-position: center bottom;
    background-image: url(../images/mountains.jpg);
}
.blog section.main {
    width: 610px;
}
.blog section.main p.published {
    margin: 0 0 10px 0;
    font-size: 11px;
    color: #818181;
}
.blog aside {
    width: 300px;
    margin-top: 75px;
}
.blog aside nav {
    width: 215px;
}
.blog aside nav a {
    display: block;
    background: #e6e6e6;
    line-height: 40px;
    margin-bottom: 2px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #cccaca;
    text-decoration: none;
    padding-left: 45px;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
}
.blog aside nav a.active {
   color: #0a0a0a;
}
.blog aside nav a.events {
    background-position: -961px -425px;
}
.blog aside nav a.events.active,
.blog aside nav a.events:hover {
    background-position: 5px -425px;
}
.blog aside nav a.cases {
    background-position: -961px -465px;
}
.blog aside nav a.cases.active,
.blog aside nav a.cases:hover {
    background-position: 5px -465px;
}
.blog aside nav a.thoughts {
    background-position: -961px -505px;
}
.blog aside nav a.thoughts.active,
.blog aside nav a.thoughts:hover {
    background-position: 5px -505px;
}
.blog aside nav a.all {
    background-position: -961px -545px;
}
.blog aside nav a.all.active,
.blog aside nav a.all:hover {
    background-position: 5px -545px;
}
.blog aside nav a.back {
    background-position: -961px -585px;
}
.blog aside nav a.back.active,
.blog aside nav a.back:hover {
    background-position: 5px -585px;
}
.blog section.main img.thumb {
    float: left;
    margin: 0 20px 20px 0;
}
.blog section.main .post-title {
    margin: 15px 0 0 0;
    line-height: 24px;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    padding-left: 40px;
}
.blog section.main .withthumb .post-title,
.blog section.main .withthumb p.published {
    margin-left: 310px;
}
.blog section.main .thoughts .post-title {
    background-position: 0 -512px;
}
.blog section.main .events .post-title {
    background-position: 0 -512px;
}
.blog section.main .cases .post-title {
    background-position: 0 -512px;
}
.blog section.main p.published {
    padding-left: 40px;
}
/* blog-listing page */
.blog-listing section.main ul {
    margin: 0;
    padding: 0;
    background: none;
    line-height: inherit;
}
.blog-listing section.main li {
    margin: 0 0 35px 0;
    padding: 0;
    list-style-type: none;
    background: url(../images/sprites.png) left bottom repeat-x;
}
.blog-listing section.main li .comments {
    height: 34px;
    line-height: 34px;
    background: url(../images/sprites.png) left -998px repeat-x;
    clear: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #0a0a0a;
}
/* blog detail page */
.blog-detail section.main h1 {
    color: #333333;
    font-size: 24px;
    font-weight: 300;
}
.blog-detail section.main h2 {
    font-size: 21px;
}
.blog-detail section.main h3 {
    font-family: Helvetica, Aria, sans-serif;
    font-size: 16px;
    color: #0a0a0a;
    font-weight: normal;
}
/* VISUALS */
.visual {
    display: block;
    position: relative;
    margin: 5px;
    box-shadow: 0 1px 3px #999;
}
.visual-preview {
    width: 390px;
    height: 255px;
}
.visual-thumb {
    width: 290px;
    height: 190px;
}
.visual-small {
    width: 100px;
    height: 76px;
}
/* flipper */
.flipper {
    overflow: hidden;
}
.flipper span {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #8bc623;
    opacity: 0.85;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    display: none;
}
.flipper img {
    position: absolute;
    top: 0;
}
.visual img.front {
    left: 0;
}
.visual-preview img.back {
    left: -390px;
}
.visual-thumb img.back {
    left: -290px;
}
.visual-small img.back {
    left: -100px;
}
/* TECHNOLOGIES */
section.technology ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section.technology li {
    list-style-type: none;
    float: left;
    line-height: 40px;
    border-radius: 2px;
    margin-right: 3px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    background: #4b4b4b; /* Old browsers */
    background: -moz-linear-gradient(top, #4b4b4b 6%, #252525 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#4b4b4b), color-stop(100%,#252525)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b4b4b 6%,#252525 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b4b4b 6%,#252525 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b4b4b 6%,#252525 100%); /* IE10+ */
    background: linear-gradient(top, #4b4b4b 6%,#252525 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
}
section.technology a {
    padding:  0 10px;
    color: #fff;
}
section.technology a:hover {
    color: #8bc623;
    text-decoration: none;
}
/* SOCIAL */
ul.social {
    padding:  0 !important;
    overflow:  hidden;
    font-size: 11px;
    font-weight: bold;
}
ul.social li {
    float: left !important;
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    border: 1px solid #ccc;
}
ul.social li:hover {
    box-shadow: inset 0 0 2px 1px #fff;
}
ul.social li a {
    display: block;
    line-height: 22px;
    padding: 2px 5px 0 20px;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #a6a6a6;
}
ul.social li a:hover {
    color: #818181;
}
ul.social li.twitter a {
    padding-left: 24px;
     background-position: -145px -267px;
}
ul.social li.twitter a:hover {
     background-position: 2px -267px;
}
ul.social li.linkedin a {
    background-position: -146px -287px;
}
ul.social li.linkedin a:hover {
     background-position: 1px -287px;
}
ul.social li.forrst a {
    background-position: -146px -307px;
}
ul.social li.forrst a:hover {
    background-position: 1px -307px;
}
ul.social li.github a {
    background-position: -146px -327px;
}
ul.social li.github a:hover {
    background-position: 1px -327px;
}
ul.social li.mail a {
    background-position: -146px -347px;
}
ul.social li.mail a:hover {
    background-position: 1px -347px;
}
ul.social li.facebook a {
    background-position: -146px -367px;
}
ul.social li.facebook a:hover {
    background-position: 1px -367px;
}
/* FOOTER */
footer {
    padding: 5px;
    margin: 0 auto 10px auto;
    width: 450px;
    background: #f6f6f6;
}
footer p {
    margin: 0;
    color: #818181;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}