/* GLOBALS */
html, body {
    height: 100%;
}
body {
    color: #0a0a0a;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}
/* WRAPPERS */
.wrapper-outer {
    position: relative;
    min-height: 100%;
}
.wrapper-inner {
    padding-bottom: 186px;
}
/* CONTENT SECTIONS */
/* main sections */
h1.main-title {
    background-image: url(../images/main_title.png);
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    top: 110px;
    height: 55px;
    line-height: 55px;
    left: 0;
    margin: 0 0 0 -480px;
    padding: 0 150px 0 50%;
    color: #0a0a0a;
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
}
a {
    color: #8bc623;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* HEADER */
header {
    background-color: #0a0a0a;
    height: 40px;
}
header nav {
    width: 860px;
    margin: 0 auto;
    padding: 0 100px 0 0;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 13px;
    position: relative;
}
header nav h1 {
    margin: 13px 0;
    padding: 0;
    float: left;
    margin-right: 75px;
}
header nav h1 a {
    display: block;
    background: url(../images/sprites.png) 0 -1px no-repeat;
    width: 35px;
    height: 14px;
    text-indent: -10000px;
    float: none;
}
header nav h1 a:hover {
    background-position: -35px -1px;
}
header nav > a {
    float: left;
    line-height: 38px;
    padding: 0 0 2px 0;
    color: #fff;
    margin-right: 30px;
}
header nav a:hover {
    color: #79bd01;
    text-decoration: none;
}
header div.fb-like {
    position: absolute;
    left: 860px;
    top: 0;
    width: 100px;
    height: 20px;
    padding: 10px 0;
}
/* SECTIONS */
/* full and splits */
div.full, div.split {
    width: 960px;
    margin: 0 auto 30px auto;
    position: relative;
}
div.full:after, div.split:after {
    visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.home div.split-3 img#mask-image {
    position: absolute;
    z-index: 100;
    right: -42px;
    top: -8px;
    width: 97px;
    height: 105px;
}
div.split section {
    float: left;
}
div.split-2 section {
    width: 465px;
}
div.split-2 section:not(:last-child) {
    margin-right: 30px;
}
div.split-3 section {
    width: 302px;
}
div.split-3 section:not(:last-child) {
    margin-right: 27px;
}
/* content sections */
section.content h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 300;
    color: #333;
}
section.content p {
    margin: 15px 0;
}

section.content p.read-more {
    font-weight: bold;
}
section.content p.read-more a{
    height: 14px;
    line-height: 14px;
    padding: 0 30px 0 0;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: 90px -143px;
}
/* main sections */
section.main {
    margin: 150px 0 20px 0;
    color: #a6a6a6;
    font-size: 14px;
    line-height: 18px;
}
section.main p.intro {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
section.main ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    line-height: 26px;
}
section.main li {
    padding-left: 30px;
    background:  url(../images/sprites.png) 0 -143px no-repeat;
}
/* secondary sections */
section.secondary {
    font-size: 12px;
    line-height: 16px;
}
section.secondary p {
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 16px;
}
section.secondary h3 {
    margin: 15px 0;
    font-weight: 300;
    font-size: 24px;
}
/* home-specific rules */
.home section.main p {
    font-size: 14px;
}
.home section.content h2 {
    margin: 0;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    background-image: url(../images/headings.png);
    background-repeat: no-repeat;
}
.home section.content p.read-more {
    text-align: right;
}
.home section.content p.read-more a {
    background-position: 70px -145px;
}
/* HOME */
.home section.main {
    padding: 90px 0 0 0;
    margin: 0 0 50px 0;
}
.home section.main h1 {
    text-indent: -10000px;
    margin: 0;
    padding: 0;
    width: 271px;
    height: 102px;
    background: url(../images/sprites.png) 0 -15px no-repeat;
}
.home section.main h2 {
    margin: 10px 0 0 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    background: none;
    padding: 0;
    font-size: 24px;
}
.home section.main p {
    margin: 30px 0 0 0;
    width: 375px;
    color: #a6a6a4;
}
.home section.main p strong {
    color: #333332;
}
/* SERVICES */
.services section.main {
    padding-right: 500px;
}
/* COMPANY */
.company h1.main-title {
     position: absolute;
    left: 0;
    right: 50%;
    margin: 0;
    padding: 0 65px 0 35%;
    width: 480px;
    top: 175px;
}
.company h2#mountain {
    position: absolute;
    left: 0;
    right: 50%;
    margin: 0;
    padding: 0 0 0 35%;
    width: 480px;
    top: 65px;
    height: 93px;
    text-indent: -10000px;
    background: url(../images/sprites.png) right -171px no-repeat;
}
.company blockquote {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 17px;
    color: #d4d4d4;
    font-style: oblique;
    line-height: 24px;
    left: 0;
    margin: 0 0 0 -490px;
    padding: 15px 125px 15px 50%;
    position: absolute;
    top: 375px;
    right: 50%;
    width: 350px;
    height: 95px;
    background: url(../images/headings.png) right -95px no-repeat;
}
.company section.main {
    margin-top: 215px;
    padding-left: 500px;
}
/* PROJECTS */
/* homepage */
.home section.projects h2{
    background-position: right 0;
    width: 350px;
    line-height: 55px;
    font-size: 30px;
    margin: 0 0 20px 0;
}
/* generic project listing */
section.projects ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
section.projects li {
    margin: 0 0 20px 0;
    list-style-type: none;
    float: left;
    width: 300px;
    height: 207px;
}
section.projects li:not(.three) {
    margin-right: 30px;
}
/* projects generic rules */
section.project-detail {
    padding-right: 480px;
    position: relative;
    height: 285px;
    overflow:  hidden;
}
section.project-detail p {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
section.project-detail .visual {
    position: absolute;
    right: 0;
    top: 0;
}
/* project-detail */
.project section.project-detail dl {
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
}
.project section.project-detail dt {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
}
.project section.project-detail dd {
    float: left;
    margin: 0 0 0 5px;
    padding: 0;
    font-weight: bold;
}
.project section.project-detail p.read-more a {
    background-position: 110px -145px;
}
.project section.project-story {
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: #818181;
}
.project section.project-story h2 {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f3f;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.project section.project-story p {
    margin: 0 0 20px 0;
}
.project section.project-story .column {
    width: 300px;
    float: left;
}
.project section.project-story .column:not(:last-child) {
    margin-right: 30px;
}
/* projects list */
.projects section.project-detail {
    background: url(../images/sprites.png) 0 284px repeat-x;
}
/* HOMEPAGE */
.home section.secondary h2 {
    background-position: right -55px;
    line-height: 35px;
    font-size: 24px;
}
.home section.secondary h2 a {
    color: #fff;
    text-decoration: none;
}
.home section.blog h2 {
    width: 150px;
}
.home section.tweets h2 {
    width: 270px;
}
.home section.tweets h2 a {
    padding-left: 40px;
    background: url(../images/sprites.png) -94px -115px no-repeat;
}
.home section.tweets ul {
    margin: 0;
    padding: 0;
}
.home section.tweets li {
    list-style-type: none;
}
.home section.tweets li p.date {
    color: #a5a5a5;
    font-size: 14px;
}
.home section.tweets li p.text {
    font-family: Lato, sans-serif;
    font-size: 19px;
    color: #404040;
    line-height: 24px;
    font-weight: 300;
}
.home section.nerds {
    color: #fff;
    background: #0a0a0a;
    width: 242px;
    padding: 30px;
}
.home section.nerds h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
}
.home section.nerds p {
    font-size: 12px;
    line-height: 16px;
}
/* VISUALS */
.visual {
    display: block;
    position: relative;
    margin: 5px;
    box-shadow: 0 3px 5px #ccc;
}
.visual-preview {
    width: 390px;
    height: 255px;
}
.visual-thumb {
    width: 290px;
    height: 197px;
}
.visual-small {
    width: 100px;
    height: 76px;
}
/* flipper */
.flipper {
    overflow: hidden;
}
.flipper span {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #8bc623;
    opacity: 0.85;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    display: none;
}
.flipper img {
    position: absolute;
    top: 0;
}
.visual img.front {
    left: 0;
}
.visual-preview img.back {
    left: -390px;
}
.visual-thumb img.back {
    left: -290px;
}
.visual-small img.back {
    left: -100px;
}
/* TECHNOLOGIES */

section.technology ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section.technology li {
    list-style-type: none;
    float: left;
    line-height: 40px;
    border-radius: 2px;
    margin-right: 3px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    background: #4b4b4b; /* Old browsers */
    background: -moz-linear-gradient(top, #4b4b4b 6%, #252525 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#4b4b4b), color-stop(100%,#252525)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b4b4b 6%,#252525 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b4b4b 6%,#252525 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b4b4b 6%,#252525 100%); /* IE10+ */
    background: linear-gradient(top, #4b4b4b 6%,#252525 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
}
section.technology a {
    padding:  0 10px;
    color: #fff;
}
section.technology a:hover {
    color: #8bc623;
    text-decoration: none;
}
/* FOOTER */
footer {
    position: relative;
    margin-top: -186px;
    height: 148px;
    border-top:  8px solid #8bc623;
    padding: 0 0 30px 0;
    color: #fff;
    background-color: #0a0a0a;
}
footer section.contact {
    width: 265px;
}
footer section.contact address {
    margin: 20px 0 0 0;
    font-style: normal;
    font-family: Lato, sans-serif;
    font-weight: 300;
}
footer section.contact h4 {
    font-size: 25px;
    margin: 0 0 10px 0;
    font-weight: 300;
}
footer section.contact a.twitter,
footer section.contact a.facebook {
    float: left;
    text-indent: -10000px;
    height: 25px;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
}
footer section.contact a.facebook {
    background-position: -68px -117px;
    width: 13px;
    margin-right: 20px;
}
footer section.contact a.facebook:hover {
    background-position: -81px -117px;
}
footer section.contact a.twitter {
    background-position: 0 -117px;
    width: 34px;
}
footer section.contact a.twitter:hover {
    background-position: -34px -117px;
}
footer section.technology {
    width: 665px;
}
footer section.technology ul {
    margin-top: 60px;
}