/* GLOBALS */
body {
    color: #0a0a0a;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}
section.content-secondary {
    font-size: 12px;
    line-height: 16px;
}
section.content-secondary p {
    margin: 10px 0 0 0;
}
section.content h2 {
    margin: 0;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: 300;
    background-image: url(../images/headings.png);
    background-repeat: no-repeat;
}
section.content-secondary h3 {
    margin: 15px 0;
    font-weight: 300;
    font-size: 24px;
}
a {
    color: #79bd01;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* HEADER */
header {
    background-color: #0a0a0a;
    height: 40px;
}
header nav {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
header nav h1 {
    margin: 13px 0;
    padding: 0;
    float: left;
    margin-right: 75px;
}
header nav h1 a {
    display: block;
    background: url(../images/sprites.png) 0 0 no-repeat;
    width: 35px;
    height: 14px;
    text-indent: -10000px;
    float: none;
}
header nav > a {
    float: left;
    line-height: 38px;
    padding: 0 0 2px 0;
    color: #fff;
    margin-right: 30px;
}
header nav a:hover {
    color: #79bd01;
    text-decoration: none;
}

/* SECTIONS */
div.full, div.split {
    width: 960px;
    margin: 0 auto 20px auto;
}
div.split {
    overflow: hidden;
}
div.split section {
    float: left;
}
div.split-3 section {
    width: 308px;
}
div.split-3 section:not(:last-child) {
    margin-right: 18px;
}
/* main section */
.home section.main {
    padding: 90px 0 0 0;
    margin-bottom: 50px;
}
.home section.main h1 {
    text-indent: -10000px;
    margin: 0;
    padding: 0;
    width: 271px;
    height: 102px;
    background: url(../images/sprites.png) -35px 0 no-repeat;
}
.home section.main h2 {
    margin: 10px 0 0 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
}
.home section.main p {
    margin: 30px 0 0 0;
    width: 375px;
    color: #a6a6a4;
}
.home section.main p strong {
    color: #333332;
}
/* projects section */
.home section.projects h2{
    background-position: right 0;
    width: 350px;
    line-height: 55px;
    font-size: 30px;
}
.home section.projects ul {
    overflow: hidden;
    margin: 20px 0 0 0;
    padding: 0;
}
.home section.projects li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    width: 308px;
}
.home section.projects li:not(:last-child) {
    margin-right: 18px;
}
.home section.content-secondary h2 {
    background-position: right -55px;
    line-height: 35px;
    font-size: 24px;
}
.home section.content-secondary h2 a {
    color: #fff;
    text-decoration: none;
}
.home section.blog h2 {
    width: 150px;
}
.home section.tweets h2 {
    width: 270px;
}
.home section.tweets h2 a {
    padding-left: 40px;
    background: url(../images/sprites.png) -35px -98px no-repeat;
}
.home section.tweets ul {
    margin: 0;
    padding: 0;
}
.home section.tweets li {
    list-style-type: none;
}
.home section.tweets li p.date {
    color: #a5a5a5;
    font-size: 14px;
}
.home section.tweets li p.text {
    font-family: Lato, sans-serif;
    font-size: 19px;
    color: #404040;
    line-height: 24px;
    font-weight: 300;
}

/* FLIPPER */
.flipper {
    display: block;
    width: 300px;
    height: 230px;
    position: relative;
    overflow: hidden;
}
.flipper img {
    position: absolute;
    top: 0;
}
.flipper img.front {
    left: 0;
}
.flipper img {
    left: -300px;
}

/* FOOTER */
footer {
    background-color: #0a0a0a;
}