<h2>{{ "project.latest.title" | trans }}</h2>
{% if latestProjects|length > 0 %}
    <ul class="project-list">
        {% for project in latestProjects %}
            <li><img src="{{ project.thumb_front.webpath | apply_filter('thumb') }}"/></li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ "project.latest.empty" | trans }}</p>
{% endif %}