{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block body %}
    <h2>{{ "project.list.title" | trans }}</h2>
    {% for project in projects %}
        <h3>{{ project.title }}</h3>
        <p>{{ project.body | truncate(100) }}</p>
    {% else %}
        <p>{{ "project.list.empty" | trans }}</p>
    {% endfor %}
{% endblock body %}