{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ "project.list.title" | trans }}</h1>
            {% render 'SnowcapSiteBundle:Project:highlighted'%}
            {% if projects|length > 0 %}
                <ul class="project-list">
                    {% for project in projects %}
                        <li><img src="{{ project.thumb_front.url | apply_filter('thumb') }}" /></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ "project.list.empty" | trans }}</p>
            {% endif %}
        </section>
    </div>
{% endblock body %}