{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ entity.title }}</h1>
            <div class="body">{{ entity.body | markdown }}</div>
            <p class="published">{{ entity.published_at | relative_time }}</p>
        </section>
    </div>
{% endblock %}