body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: #0a0a0a;
	font-size: 14px;
}

a {
	text-decoration: none;
}

header {
	height: 40px;
	background-color: #0a0a0a;
	color: #fff;
	position: relative;
	overflow: hidden;
}
header h1 {
	text-indent: -5000px;
	float: left;
	margin: 0 20px;
	padding: 0 0 0 40px;
	background: url(img/snowcap-white.png) left center no-repeat;
	line-height: 40px;
}
header nav {
	overflow: hidden;
	float: left;
	font-size: 12px;
}
header nav a {
	color: #fff;
	float: left;
	line-height: 40px;
	margin-right: 10px;
}
header nav a:hover {
	color: #8cc622;
}
.section-700 {
	width: 700px;
}
.section-700 input, .section-700 textarea {
	width: 650px;
}
#main {
	margin: 20px;
}
#main section {
	background: #fff;
	padding: 10px;
	border: 1px solid #c0c0c0;
}
#main section h2 {
	color: #8ac722;
	margin: 0 0 10px 0;
}
#main section form {
	margin: 20px;
}
#main section .form-row {
	margin: 20px 0;
}
#main section .form-row label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}
#main section input,
#main section textarea {
	display: block;
	padding: 4px;
	border: 1px solid #c0c0c0;
}
#main section input {
	height: 20px;
}
#main section textarea {
	height: 200px;
}
