<address>
    <p class="snowcap">{{ "general.snowcap" | trans }}</p>
    <p>
        {{ "contact.somewhere" | trans }}<br/>
        <a href="mailto:shoot@snowcap.be">shoot@snowcap.be</a>
    </p>
</address>
<a class="facebook" href="#" title="Facebook like">{{ "general.facebook_link" | trans }}</a>
<a class="twitter" href="#" title="Follow us on Twitter">{{ "general.twitter_link" | trans }}</a>