<h3>{{ "general.snowcap" | trans }}</h3>
<p>You want to get in touch ? Just <a href="mailto:shoot@snowcap.be">shoot@snowcap.be</a></p>
<a class="facebook" href="#" title="Facebook like">{{ "general.facebook_link" | trans }}</a>
<a class="twitter" href="#" title="Follow us on Twitter">{{ "general.twitter_link" | trans }}</a>