<h2>{{ "widget.nerds.title" | trans }}</h2>
{{ "widget.nerds.body" | trans | markdown }}
<p class="read-more"><a href="#" title="{{ "widget.nerds.github.title" | trans }}">{{ "widget.nerds.github.label"}}</a></p>