<h2>{{ "widget.nerds.title" | trans }}</h2>
{{ "widget.nerds.body" | trans | markdown }}
<p class="read-more"><a href="https://github.com/snowcap/" title="{{ "widget.nerds.github.title" | trans }}" rel="external">{{ "widget.nerds.github.label" | trans}}</a></p>